{% extends 'main.html' %}

{% block title %} Edit Disease | Health Alert Application {% endblock %}

{% block content %}
<div class="col-10 bg-white">
    <div class="container-fluid main">
        <div class="row">
            <div class="col-12">
                <div class="card shadow p-3 m-3">
                    <h2>Edit Disease</h2>
                    {% for x in data %}
                    <form method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" name="name" value="{{x.name}}" id="inputName" placeholder="Name of the Disease"required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCure">Cure</label>
                                <textarea class="form-control" rows="5" name="cure" id="inputCure" placeholder="Cure"required>{{x.cure}}</textarea>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPrecaution">Precautions</label>
                                <textarea class="form-control" rows="5" name="precautions" id="inputPrecaution" placeholder="Precautions"required>{{x.precautions}}</textarea>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputSymptoms">Symptoms</label>
                                <textarea class="form-control" rows="5" name="symptoms" id="inputSymptoms" placeholder="Symptoms"required>{{x.symptoms}}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}