<!DOCTYPE html>
<html lang="en">
<title>{% block title %} {% endblock %}</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <a class="navbar-brand" href="/dashboard/"><img src="/static/img/logo.png" alt="" srcset="" height="50px"></a>
        <a href="{% block href %} {% endblock %}" class="btn btn-danger ml-auto">{% block btn %} {% endblock %}</a>
    </nav>
    <div class="bg-danger">
        <div class="row">

            {% block content %} {% endblock %}

        </div>
    </div>

    <!-- <footer class="bg-dark fixed-bottom p-2 text-center text-white">
        This is Footer
    </footer> -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>