{% extends 'main1.html' %}
{% block href %}/ {% endblock %}
{% block btn %}Login {% endblock %}
{% block title %} Forgot Password | Health Alert Application {% endblock %}

{% block content %}
                <div class="col-12 bg-white">
                    <div class="container-fluid main">
                        <div class="row">
                            <div class="col-12">
                                <div class="card shadow p-3 m-3">

                                    <h2 class="text-center text-danger">OTP Validation</h2>
                                    <h5 class="text-center text-danger">Check your email to check OTP</h5>
                                    <form method="POST"> {% csrf_token %}
                                        <div class="form-row">
                                            <input type="hidden" name="designation" id="designation" value="{{designation}}">
                                            <input type="hidden" name="email" id="email" value="{{email}}">
                                            <div class="form-group col-md-4"></div>
                                            <div class="form-group col-md-4">
                                                <label for="OTP">OTP</label>
                                                <input type="number" class="form-control" name="otp" id="otp"   
                                                    placeholder="Enter OTP" required>
                                            </div>
                                            <div class="form-group col-md-4"></div>
                                            <div class="form-group col-md-4"></div>
                                            <div class="form-group col-md-4 text-center" >
                                            <button type="submit" class="btn btn-danger">Submit</button></div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
